{% extends "base.html" %}

{% block htmltitle %}
    {{super()}}
    <meta name="description" content="Центр поддержки сервиса Identity">
    <meta name="keywords" content="Identity">
    <meta property="og:title" content="Центр поддержки. Сервис Identity">
    <meta property="og:description" content="Управление пользователями">
    <meta property="og:image" content="https://rulink.io/images/identity-cover.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rulink.io/support/">
    <meta name="twitter:title" content="Центр поддержки. Сервис Identity">
    <meta name="twitter:description" content="Управление пользователями">
    <meta name="twitter:card" content="https://rulink.io/images/identity-cover.png">
    <meta name="twitter:image" content="https://rulink.io/images/identity-cover.png">
{% endblock %}

{% block analytics %}
    {{ super() }}
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(98429335, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/98429335" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
{% endblock %}
