site_name: Страница примеров
site_url: https://rulink.io/support/auth
copyright: 2025 &copy; ООО Облакотех
theme:
  logo: assets/favicon.svg
  favicon: assets/favicon.svg
  name: material
  language: ru
  custom_dir: overrides
nav:
    - НА ГЛАВНУЮ: 'https://rulink.io/support'
extra:
    homepage: https://rulink.io/support
    social:
    - icon: fontawesome/brands/telegram 
      link: https://t.me/rulinkio
      name: Наш Telegram
    - icon: fontawesome/solid/at 
      link: mailto:hello@rulink.io
      name: Наша электронная почта
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - md_in_html
  - attr_list
  - pymdownx.blocks.caption
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
  - i18n:
      default_language: ru
      languages:
        ru:
          name: Russian
          build: true
          site_name: "Примеры разметки. Служебный"
