{% extends "base.html" %}

{% block htmltitle %}
    {{super()}}
    <meta name="description" content="Справочная информация по использованию сервиса работы с электронной подписью. Описание функционала проверки электронной подписи, удаления подписантов из электронной подписи, объединение файлов электронной подписи, подписание документов электронной подписью, подписание файлов токеном электронной подписи, подписание документов госключ">
    <meta name="keywords" content="электронная подпись, фз-63, фз 63, подписание документов, госключ, токен, проверка электронной подписи, протокол проверки, автоматическое подписание файлов электронной подписью, электронный документооборот, удаленное подписание, удаленное подписание договора, удаленное подписание документов, сервис удаленного подписания, обмен документами в электронном виде, электронная система обмена документами, система электронного подписания документа">
    <meta property="og:title" content="Сервис работы с электронной подписью">
    <meta property="og:description" content="Работа с электронной подписью. Подписание документов с полным соблюдением законов и защитой информации">
    <meta property="og:image" content="https://optim.tildacdn.com/tild3230-3363-4435-b463-323637303336/-/resize/934x/-/format/webp/Untitled.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://promo.rulink.io/crypto">
    <meta name="twitter:title" content="Сервис работы с электронной подписью">
    <meta name="twitter:description" content="Работа с электронной подписью. Подписание документов с полным соблюдением законов и защитой информации">
    <meta name="twitter:card" content="https://optim.tildacdn.com/tild3230-3363-4435-b463-323637303336/-/resize/934x/-/format/webp/Untitled.png">
    <meta name="twitter:image" content="https://optim.tildacdn.com/tild3230-3363-4435-b463-323637303336/-/resize/934x/-/format/webp/Untitled.png">

{% endblock %}

{% block analytics %}
    {{ super() }}
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(98429335, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/98429335" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
{% endblock %}
